{% extends "@Website/base.html.twig" %}

{% block title %}Mon site Symfony{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <p>Page de bienvenue alternative dans <code>WebsiteBundle</code></p>
{%  endblock %}
